*{
	padding: 0px;
	margin: 0px;
}
body{
	color: #6D6D72;
}

.imgSize{
	height: 220px !important;
	width: 100% !important;
}
.icon-color{
	color: #FFFFFF !important;
	background-color: #EC971F;
	background-origin: border-box;
	border-radius: 8px;"
}
