.chat-thread .right-tag{
  border-right: 50px solid #666666;
}

.send{
  padding-top: 8px;
  background-color: #eeeeee;
}
.express{
  padding-top: 8px;
  background-color: #eeeeee;
}
.message-box .avatar{
  height: 100%;
  width: 100%;
  margin-top: -.5px;
  border-radius: 50%;
}
.chatBox .el-button{
   line-height: 0.5;
   margin-left: -15px;
}
.chatBox .el-button .el-button--primary{
  line-height: .8;
}
.message-time-box .message-time{
  font-size: 10px;
}
.avatar-chatePage-left{
  float: left;
  margin-left: 10px;
  margin-top: 4px;
  padding-top: 2px;
  height: 35px;
  width: 35px;
  border: solid .5px  #BBBBBB;
  border-radius: 50%;
}
.avatar-chatePage-right{
  float: right;
  margin-right: 10px;
  margin-top: 4px;
  padding-top: 0.5px;
  height: 35px;
  width: 35px;
  border: solid .5px  #BBBBBB;
  border-radius: 50%;
}

.chat-thread  .chat-content-left p{
  margin-bottom: 0px;
}
.chat-thread  .chat-content-right p{
  margin-bottom: 0px;
}
.chat-thread  .chat-content-left{
  text-align: left;
  margin-top:  5px;
  padding-top: 6px;
  padding-bottom:6px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 35px;
  float: left;
  border-radius: 5px;
  background-color: #dddddd;
}
.chat-thread  .chat-content-right{
  text-align: left;
  margin-top:  5px;
  padding-top: 6px;
  padding-bottom:6px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 35px;
  float: right;
  border-radius: 5px;
  background-color: #42B983;
}

.shape-tag-left{
  margin-left:-4px;
  margin-top: 14px;
  float: left;
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right:8px solid #dddddd;
}

.shape-tag-right{
  margin-right:-4px;
  margin-top: 14px;
  float: right;
  border-right:8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #42B983 ;
}


.opposite{
  padding-bottom: 10px;
}
.chat-item{
  padding-top: 10px;
  font-size: 12.5px;
}
.express-icon{
  margin-left: -15px;
  font-size: 30px;
  color:#666666;
}
.input-box{

  background-color:#eeeeee;
  padding-top: 8px;
  padding-right: 5px;
  padding-bottom: 4px;
}
.footer-box{
  min-height: 45px;
  background-color: #eeeeee;
  border-top: 1px solid #DDDDDD;
}


.mintui{
  color: #333333;
}
.mint-button-text{
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.chatBox{
  margin-top: 12px;
}
.mintui-back{

  caret-color: #333333;
  color: #333333;
}
.el-button--succes{
  white-space: inherit;
}
.mint-header-title{
  color: #333333;
  margin-top: 3px;
}
.mint-header-button.is-right{
  margin-top: -4px;
}

.el-textarea{
  border-radius: 4px;
  padding-bottom: 4px;
}
.el-textarea__inner{
  overflow: hidden;
  outline:none;
  resize:none;
  border-radius: 4px;
  border-bottom: 1px solid rgb(191, 217, 208) ;
  border-top:0px;
  border-left:0px;
  border-right :0px;
  border-top-color: #eeeeee;
  border-left-color: #eeeeee;
  border-right-color: #eeeeee;
}
.el-textarea__inner:hover{
  border-radius: 4px;
  border-bottom-color: rgb(131, 165, 154);
  border-top-color: #eeeeee;
  border-left-color: #eeeeee;
  border-right-color: #eeeeee;
  border-left:0px;
  border-right :0px;
  resize:none;
}
.message-box{
  padding-top: 5px;
  border-top: solid 1px #DDDDDD;

}
