*{
		font-size: 13px;
	font-family: "微软雅黑";
}

.article .meta small{
	color: #969696;
	font-weight: 400;
	font-size: 12px;

}
 .test-border{
 	border: solid 1px   #088EF0;
 }
 
 a{
 	color: #737373;
 }

p{
	color: #333;
	font-size: 16px;
	margin: 0 0 10px;
	font-weight: 550;
	margin: 0 0 10px;
	line-height: 2.0;
}
.article .avatar{
	background-size: cover;
	background-image: url(../img/article_img.jpg);
	width: 45px;
	height: 45px;
	border-radius: 50%;
	
}


.article .author_name{
	margin-right: 3px;
	font-weight: 900;
}
.article .forktag{
	height: 20px;
	margin-right: 3px;
	background:  #1D9B72;
	border:  1px solid #1D9B72;
	color: #FFFFFF;
	border-radius: 10%;
	padding-left: 2px;
	padding-right:2px ;
}
.article .authortag{
	height: 20px;
	margin-right: 3px;
	border:  1px solid #1D9B72;
	color:  #1D9B72;
	border-radius: 10%;
	padding-left: 2px;
	padding-right:2px ;
}


.article .a-m{
	margin-bottom: 30px;
}
.h1 h1{
	margin-top: 20px;
margin-bottom: 10px;
	font-weight: 700;
}
.article{
	text-align: left;
}

.title{
	font-size: 38px;
	font-weight: 700;
	line-height: 1.3;
	text-align: left;
	margin: 30px 0px 0px 0px;
	margin-bottom: 30px;
	
}
