.list-container  a:link{text-decoration:none ;cursor: pointer; }
.list-container  a:visited {text-decoration:none ; cursor: pointer;}
.list-container  a:hover {text-decoration:none; cursor: pointer;}
.list-container  a:active {text-decoration:none ;cursor: pointer; }
.list-container div{ cursor: pointer;
}

*{
	
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif,"微软雅黑";
}


.show_msg{
				width:100%;
				height:35px;
				text-align:center;
				position:fixed;
				left: 0;
				z-index:20000;
			}
				.show_span{
					display: inline-block;
					height: 35px;
					padding: 0 15px;
					line-height: 35px;
					background:#ddffcc;
					border-radius: 50px;
					color:  black;
					font-size: 1em;
				}

.header-style{
	background: #458fce;
	color:#67B168 ;
}


.ic-list{
	
}

.fade-write-icon{
	margin-top:8px;
	margin-left: 11px;
	font-size: 30px;
	color: #dddddd;
}
.loader{
	height: 100px;
}



.test-border{
border: solid 1px;
border-color: #000000;
}


.sigin_footer{
	margin-bottom: 10px;
}
.register_famale_img{
	left: 7%;
	height:20px;
	width: 20px;
	margin-top: -1px;
}
.register_male_img{
	left: 7%;
	height:20px;
	width: 20px;
	margin-top: -1px;
	
}
.header{
  height: 0px;
  background: #458fce;

}
.header-logo{
	font-size: 24px;
	 background: #458fce;
	cursor: pointer;
	line-height:60px ;
	text-align:left;
	height: 100%;
	align-content: center;
}
.header-item{
	background: #458fce;
	cursor: pointer;
	line-height:60px ;
	height: 100%;
	text-align: center;
}
.header-logo:hover{
	background: #74b0e2;
}
.header-item-login{
	background: #458fce;
	line-height:60px ;
	height: 100%;
	text-align: center;
}
.header-item:hover{
	background: #74b0e2;
}
.banner{
	float: left;
	width: 100%;
	height: 360px;
	background: #285E8E;
}

.article .hidden-title-style{
	height: 20px;
}
.list-container{
	
	
	margin:  -15px 0px;
}
.content-box{
	
	background: #ffffee;

	max-height: 160px;

}
.meta .collection-tag{
	background: #EBF5F3;
    font-weight:570;
	color:  #017E66;
	
}

.article .col-xs-8{
   
	padding-left: 0px;
}

.article .col-lg-9{
	top: 4px;
	padding-left: 0px;
}
.tag-footer .meta{
	padding-left: 0px;
}
.meta .font-color{
	color: #B4B4B4;
	margin-right: 1px;
	margin-left: 10px;
}
.content-box .tag-footer{
	
	
}

.content-box .article{
height: 100px;
	padding-top:5px;
}


.article .title{

display: inherit;
font-size: 18px;
font-weight: 700;
line-height: 1.5;
}

.list-container .content-box .warp-img{
    
	float: right;
	height: inherit;
	background-size:  cover;
	background-image: url(../img/back-img2.jpg);
}
.list-container .content-box .name{
	margin-left: 10px;
	
}
.list-container .row{
	padding-left: 6px;
}
.list-container .content-box .author{
	margin-top:10px ;
	
    
}
.list-container .content-box .author .avatar{
	position:absolute;
	width: 20px;
	left: 0px;
	height: 20px;
	background: #269ABC;
	border-radius: 50%;
}
.list-container .content-box .author .username{
	color: #737373;
}
    .shadow{  
      border-radius: 2px;
       box-shadow: black 0px 2px 0px;  
      
    }  
.list-container .content-box .abstract{
	/*overflow:hidden;white-space:nowrap;*/
	text-overflow: ellipsis;

	max-height: 60px;
	overflow:hidden;
	display:block;
	padding-top: 3px;
}
.list-container .content-box .title{
	line-height:1.5;
	color: #737373;
}


.list-container .content-box .article-card-content{
	padding-left: 0px;
}
.left-content{
}
@-webkit-viewport{ width: device-width;}
@-moz-viewport{ width: device-width;}
@-ms-viewport{width: device-width;}
@-0-viewprot{width: device-width;}
@viewprot{width: device-width;}
