
*{
	border: 0px;
	margin: 0px;
	padding: 0px;
  font-family: "微软雅黑";
}

.login_box{
	top: 40%;
	height: 230px;
	
}
.register_box{
	
	
}
.sigin_header{
	text-align: center;
	font-size: 24px;
	line-height: 40px;
	
}


.sigin_content{
	height: 70%;
	
}

.sigin_footer{
	
}
