.category .title{
    margin-top: 30px;
    border-bottom: 1px solid #cac5c5;
    height: 30px;
    text-indent:1em;
    font-size:18px;
    color:#666;
    
}
.items{
	
	
	 margin-bottom: 0px;
	
}

.wrap-img{
	background-image: url(../img/4-1.jpg);
	height: 120px;
	width: 150px;
}
.avatar{
	border-radius: 50%;
	height: 100px;
	width: 100px;
	
}
.category .items .item{
	background: #C1E2B3;
	margin: 20px;
	height: 230px;
	width: 160px;
	float: left;
}


.tesimg{
	background: #2AABD2;
	height: 200px;
	width: 200px;
}


.img{
width: 20px;
height: 20px;
}
