extends layout

block content
 div.container-fluid
   div.row.title-head-style
     div.col-xs-12.text-center(style="border:solid 1px #FFFFFF")
       div
         h1=title	
         p Welcome  to #{title}