<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="css/font-awesome.min.css" /> 

		<link rel="stylesheet" href="css/mui.min.css">
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}
			
			.oa-contact-cell.mui-table .mui-table-cell {
				padding: 11px 0;
				vertical-align: middle;
			}
			
			.oa-contact-cell {
				position: relative;
				margin: -11px 0;
			}
			
			.oa-contact-avatar {
				width: 75px;
			}
			
			.oa-contact-avatar img {
				border-radius: 50%;
			}
			
			.oa-contact-content {
				width: 100%;
			}
			
			.oa-contact-name {
				margin-right: 20px;
			}
			
			.oa-contact-name,
			oa-contact-position {
				float: left;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="mui-content" style="margin-top: -20px;">

						<ul class="mui-table-view mui-table-view-striped mui-table-view-condensed">
						<!--	<li v-for="item in headerData" class="mui-table-view-cell" :id="item[0].id" :name="item[0].tripAttractionName">
								<a class="mui-navigate-right" :name="item[0].id">
									<div class="mui-slider-cell">
										<div class="oa-contact-cell mui-table">
											<div class="oa-contact-avatar mui-table-cell">
												<img width="60px" height="60px" :src="item[1]" />
											</div>
											<div class="oa-contact-content mui-table-cell">
												<div class="mui-clearfix">
													<h4 class="oa-contact-name">{{item[0].tripAttractionName}}</h4>
													<span class="oa-contact-position mui-h6">{{item[0].position}}</span>
												</div>
											</div>
										</div>
									</div>
								</a>
							</li>-->

							<li v-for="item in headerData" class="mui-table-view-cell"style="padding: 0px;" :id="item[0].id" :name="item[0].tripAttractionName">
								<div class="mui-card" >
									<!--页眉，放置标题-->
									<div class="mui-card-header">{{item[0].tripAttractionName}}</div>
									<!--内容区-->
									<div class="mui-card-content">
										<img :src="item[1]" width="100%" height="100%" />
									</div>
									<!--页脚，放置补充信息或支持的操作-->
									<div class="mui-card-footer" style="margin-top: -7px;">
										<i class="fa fa-thumbs-o-up " style="color: #666666;font-size: 18px">12</i>
										<p style="font-size: 16px;color: #444444;">评论<i >(12)</i></p>
									</div>
								</div>
							</li>

						</ul>
					</div>
				</div>

			</div>

		</div>

	</body>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/jquery-2.1.0.js"></script>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				message: "nmb",
				headerData: [
					[{
						"tripAttractionName": "哈素海之行",
						"id": "1"
					}, "img/hsh.jpg"],
					[{
						"tripAttractionName": "神秘的藏传佛教-呼和浩特席力图召（延寿寺",
						"id": "10"
					}, "img/xltz2.png"]

				]

			},
			beforeCreate: function() {

			},
			mounted: function() {
				mui.init({
					swipeBack: false,

					keyEventBind: {
						backbutton: false
					},

					pullRefresh: {
						container: '#pullrefresh',
						down: {
							style: 'circle', //必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
							color: '#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
							height: '50px', //可选,默认50px.下拉刷新控件的高度,
							range: '100px', //可选 默认100px,控件可下拉拖拽的范围
							offset: '0px', //可选 默认0px,下拉刷新控件的起始位置
							contentrefresh: '正在加载...',
							callback: pulldownRefresh

						}
					}
				});
				var _self = this;

				function pulldownRefresh() {
					mui.post('http://47.95.0.73:8080/Uncom/appFront/getTripList.action', {
							type: localStorage.getItem("cityType")
						},
						function(data) {
							var results = JSON.parse(data)

							if(results.length > 0) {
								if(results.length > 7) {
									len = 7;
								} else {
									len = results.length
								}

								_self.$data.headerData = Object.assign(_self.$data.headerData, _self.defaultData);

								for(var i = 0; i < len; i++) {
									_self.$set(_self.headerData, i, results[i]);
								}
								console.log(_self.headerData.length)
								/*	if(_self.headerData.length>len){
										for (var i = len; i < _self.headerData.length; i++) {
											_self.headerData[i]="null"
										}
									}*/
							}

							/*	var table = document.body.querySelector('.mui-table-view');
								var viewName = eval(data)
								for(var i = 0; i < 15; i++) {
									var li = document.createElement('li');
									li.className = 'mui-table-view-cell';

									li.innerHTML = '<a class="mui-navigate-right" name="' + viewName[i][0].id + '">' + viewName[i][0].tripAttractionName + '</a>';
									table.insertBefore(li, table.firstChild);
								}
								$('.mui-table-view-cell').on('tap', function(e) {
									var id = $(this).children().attr('name')
									mui.openWindowWithTitle({
										url: 'distination.html',
										id: 'distination',
										extras: {
											dataId: id,
										}
									})
									
								})*/

						}
					)

					setTimeout("mui('#pullrefresh').pullRefresh().endPulldown();", 1000);

				}

				$.ajax({
					type: 'post',
					dataType: 'json',
					async: true,
					url: "http://47.95.0.73:8080/Uncom/appFront/getTripList.action",
					xhrFields: {
						withCredentials: true
					},
					data: {
						type: localStorage.getItem("cityType")
					},
					crossDomain: true,
					success: function(results) {
						console.log("............")
						console.log(JSON.stringify(results))
						var len = 0;
						if(results.length > 0) {
							if(results.length > 7) {
								len = 7;
							} else {
								len = results.length
							}
							/*	for(var i = 0; i < results.length; i++) {
									 console.log(results[i][0].id)
									 if(results[i][0].id=="1"||results[i][0]==0){
									 	
									 }
									this.$set(this.headerData, i, results[i]);
								}*/

							$('.mui-table-view ').on('tap', 'li', function(e) {
								var id = $(this).children().attr('name')
								var id = $(this).attr('id')
								var tripAttractionName = $(this).attr('name')
								mui.openWindowWithTitle({
									url: 'article.html',
									id: 'article',
									extras: {
										dataId: id,
										trapname: tripAttractionName
									}
								})
							})
						}

					}.bind(this)
				})

			}
		})
	</script>

</html>