<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script src="js/mui.min.js"></script>
		<link rel="stylesheet" href="css/mui.min.css">
		<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=a2r4XoRjGfAyA8x0vabBDOfYRYuEdPQ9"></script>

		<link rel="stylesheet" href="css/child.css" />
		<script type="text/javascript" src="js/inDistination.js"></script>
		<style>
			html,
			body {
				background-color: #ffffff;
			}
			
			.title {
				margin: 20px 15px 10px;
				color: #49bdcc;
				font-size: 15px;
			}
			
			.mui-table-view-cell:after {
				height: 0;
			}
			
			.mui-table-view:after {
				height: 0;
			}
			
			.mui-table-view-cell .mui-media:after {
				height: 0;
			}
			
			.mui-grid-view:after {
				height: 0;
			}
			
			.mui-popover .mui-popover-arrow:after {
				background: #56A36C;
			}
		</style>
	</head>

	<body>

		<div id="app">

			<div id="popover" class="mui-popover" style="margin-left: 45px;margin-top: 10px;background: #56A36C;">
				<div class="mui-popover-arrow" style="top: -19px;margin-left: 125px;color:#56A36C;"></div>
				<div class="mui-scroll-wrapper" style="height: 170px;background: #56A36C;width: 100px;margin-left: 90px;">
					<div class="mui-scroll">
						<ul class="mui-table-view pop-table-view" style="background: #56A36C;">
							<li class="mui-table-view-cell auto" name="auto">
								<a href="#">自动识别</a>
							</li>
							<li class="mui-table-view-cell hhht" name="hhht">
								<a href="#">呼和浩特市</a>
							</li>
							<li class="mui-table-view-cell bt" name="bt">
								<a href="#">包头市</a>
							</li>
							<li class="mui-table-view-cell hlbe" name="hlbe">
								<a href="#">呼伦贝尔市</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<div id="slider" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop" style="margin-bottom: -30px">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<div class="mui-card" style="margin: 0px;">
							<!--页眉，放置标题-->
							<div class="mui-card-header mui-card-media" style="margin: 0px;">
								<img src="images/travel_guid.png" style="width:11vw;padding-right: 5px;" />
								<div class="mui-media-body" v-if="headerData[0][0]">{{headerData[3][0].tripAttractionName}}
									<p style="float: right;display: block;">攻略</p>
									<p>{{headerData[3][2]}}</p>
								</div>
							</div>
							<!--内容区-->
							<div class="mui-card-content" style="margin: 0px;">
								<img class="imgSize" :src="headerData[0][1]" />
							</div>

						</div>
					</div>
					<!-- 第一张 -->
					<div v-for="item in headerData" class="mui-slider-item" :id="item[0].id" :name="item[0].tripAttractionName">
						<div class="mui-card" style="margin: 0px;">
							<!--页眉，放置标题-->
							<div class="mui-card-header mui-card-media">
								<img src="images/travel_guid.png" style="width:11vw;padding-right: 5px;" />
								<div class="mui-media-body">{{item[0].tripAttractionName}}
									<p style="float: right;display: block;">攻略</p>
									<p>{{item[2]}}</p>
								</div>
							</div>
							<!--内容区-->
							<div class="mui-card-content">

								<img :src="item[1]" class="imgSize" />
							</div>

						</div>
					</div>

					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<div class="mui-card" style="margin: 0px;">
							<!--页眉，放置标题-->
							<div class="mui-card-header mui-card-media">
								<img src="images/travel_guid.png" style="width:11vw;padding-right: 5px;" />
								<div class="mui-media-body">{{headerData[0][0].tripAttractionName}}
									<p style="float: right;display: block;">攻略</p>
									<p>{{headerData[0][2]}}</p>
								</div>
							</div>
							<!--内容区-->
							<div class="mui-card-content" style="margin: 0px;">
								<img class="imgSize" :src="headerData[0][1]" />
							</div>

						</div>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator"></div>
				</div>
			</div>
			<ul class="mui-table-view mui-grid-view " style="background: #ffffff;">
				<li name="area" class="mui-table-view-cell mui-media  gridview  mui-col-xs-4 mui-col-sm-3">
					<a href="#" id="distination">
						<img src="img/sun_137px_1174803_easyicon.net.png" class="icon_img" />
						<div class="mui-media-body">周边游</div>
					</a>
				</li>

				<li name="map" class="mui-table-view-cell mui-media gridview mui-col-xs-4 mui-col-sm-3">
					<a href="#">
						<img src="img/map_133.10487444609px_1208686_easyicon.net.png" class="icon_img" />
						<div class="mui-media-body">地图</div>
					</a>
				</li>
				<li name="store" class="mui-table-view-cell mui-media gridview mui-col-xs-4 mui-col-sm-3">
					<a href="#">
						<img src="img/check_list_91.818181818182px_1208743_easyicon.net.png" class="icon_img" />
						<div class="mui-media-body">攻略</div>
					</a>
				</li>

			</ul>

			<div class="" style="margin-top: 20px;">
				<a href="javascript:;">
					<img class="mui-media-object mui-pull-left" src="img/hotpoint.png" style="height: 20px;padding-bottom: 1px;margin-right: 5px;">

					<p>热点景区</p>

				</a>
			</div>
			<ul class="mui-table-view ">

				<li v-for="item in headerData " :id="item[0].id"  :data-thePriceOfTicket="item[0].thePriceOfTicket"  :data-trapname="item[0].tripAttractionName" :name="item[0].position" class="mui-table-view-cell mui-media">
					<a href="javascript:;">
						<img class="mui-media-object mui-pull-right" :src="item[1]">
						<div class="mui-media-body" style="padding: 0px;">
							<p style="color: #333333;font-size: 17px;">{{item[0].tripAttractionName}}</p>
							<p style="margin-top: 5px;" class='mui-ellipsis'>{{item[2]}}</p>
						</div>
					</a>
				</li>
			</ul>

		</div>

	</body>
	<script src="js/mui.min.js"></script>
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/jquery-2.1.0.js"></script>
	<script>
		var app = new Vue({
			el: "#app",
			data: {
				message: "nmb",
				headerData: [
					[{
						"tripAttractionName": "null"
					}, "null", "null"],
					[{
						"tripAttractionName": "null"
					}, "null", "null"],
					[{
						"tripAttractionName": "null"
					}, "null", "null"],
					[{
						"tripAttractionName": "null"
					}, "null", "null"],

				],
				currentLon: "",
				currentLat: "请选择城市",
				city: "",
				detailPage: "",
				cityType: "0"

			},
			beforeCreate: function() {

			},
			mounted: function() {

				var that = this
				var _self = this;

				mui.init({
					swipeBack: true, //启用右滑关闭功能
					keyEventBind: {
						backbutton: false
					}
				});

				mui.plusReady(function() {
					var grelly = mui('.mui-slider');
					grelly.slider({
						interval: '2000'
					})

					plus.geolocation.getCurrentPosition(function(position) {
						that.currentLon = position.coords.longitude;
						that.currentLat = position.coords.latitude;
						console.log(that.currentLon);
						var geoc = new BMap.Geocoder();
						var ggPoint = new BMap.Point(that.currentLon, that.currentLat);
						var addComp
						geoc.getLocation(ggPoint, function(rs) {
							var addComp = rs.addressComponents;
							that.city = addComp.city
							console.log("firwst city" + addComp.city)
							mui.fire(that.detailPage, 'city', {
								city: that.city
							});

							if(that.city == "呼和浩特市") {
								that.cityType = "0"
								localStorage.setItem("cityType","0")
							} else if(that.city == "呼伦贝尔市") {
								that.cityType = "1"
								localStorage.setItem("cityType","1")
							}
							console.log("first cityType" + that.cityType)
							$.ajax({
								type: 'post',
								dataType: 'json',
								async: true,
								url: "http://47.95.0.73:8080/Uncom/appFront/getTripList.action",
								xhrFields: {
									withCredentials: true
								},
								data: {
									type: that.cityType
								},
								crossDomain: true,
								success: function(results) {
									console.log(JSON.stringify(results))
									for(var i = 0; i < 4; i++) {
										that.$set(that.headerData, i, results[i]);
										console.log(results[i])
									}

								}.bind(this)
							})
						})
						//书写自己的逻辑

					}, function(e) {
						mui.toast("异常:" + e.message);
					});

					var detailPage = null
					if(!detailPage) {
						detailPage = plus.webview.getWebviewById('index');
						that.detailPage = detailPage

					}

				})

				window.addEventListener("toogle", function(event) {
					mui('.mui-popover').popover('show');

				})
				$(".mui-slider-item").on('tap', function(e) {
					console.log("ocncli")
					var id = $(this).attr('id')
					var tripAttractionName = $(this).attr('name')
					var thePriceOfTicket =$(this).data("thePriceOfTicket")
					console.log("thePriceOfTicket"+thePriceOfTicket)
					mui.openWindowWithTitle({
						url: 'article.html',
						id: 'article',
						extras: {
							dataId: id,
							trapname: tripAttractionName,
							thePriceOfTicket:thePriceOfTicket
						}
					})
				})

				$(".gridview").on('tap', function(e) {
					var position = $(this).attr("name")
					if(position == "map") {
						mui.openWindowWithTitle({
							url: 'map.html',
							id: 'map',
							extras: {

							}
						})
					} else if(position == "area") {
						mui.openWindowWithTitle({
							url: 'area.html',
							id: 'area',
							extras: {

							}
						})
					} else if(position == "store") {
						mui.openWindowWithTitle({
							url: 'store.html',
							id: 'store',
							extras: {

							}
						})
					}
				})

				mui('.pop-table-view').on('click', 'li', function() {
					var name = $(this).attr('name')
					if(name == "auto") {
						var geoc = new BMap.Geocoder();
						var ggPoint = new BMap.Point(that.currentLon, that.currentLat);
						var addComp
						geoc.getLocation(ggPoint, function(rs) {
							var addComp = rs.addressComponents;
							that.city = addComp.city
							mui.fire(that.detailPage, 'city', {
								city: that.city

							});
							console.log("that,,,,,,,,,,," + that.cityType)

							if(addComp.city == "呼和浩特市") {
								that.cityType = "0"
							} else if(addComp.city == "呼伦贝尔市") {
								that.cityType = "1"
							}

							$.ajax({
								type: 'post',
								dataType: 'json',
								async: true,
								url: "http://47.95.0.73:8080/Uncom/appFront/getTripList.action",
								xhrFields: {
									withCredentials: true
								},
								data: {
									type: localStorage.getItem("cityType")
								},
								crossDomain: true,
								success: function(results) {
									console.log(JSON.stringify(results))
									for(var i = 0; i < 4; i++) {
										this.$set(this.headerData, i, results[i]);
										console.log(results[i])
									}

								}.bind(this)
							})

						})

					} else if(name == "hhht") {
						that.city = "呼和浩特市"
						that.cityType = "0"
						localStorage.setItem("cityType","0")
						mui.fire(that.detailPage, 'city', {
							city: that.city
						});

						$.ajax({
							type: 'post',
							dataType: 'json',
							async: true,
							url: "http://47.95.0.73:8080/Uncom/appFront/getTripList.action",
							xhrFields: {
								withCredentials: true
							},
							data: {
								type: localStorage.getItem("cityType")
							},
							crossDomain: true,
							success: function(results) {
								console.log(JSON.stringify(results))
								for(var i = 0; i < 4; i++) {
									that.$set(that.headerData, i, results[i]);
									console.log(results[i])
								}

							}.bind(this)
						})

					} else if(name == 'hlbe') {
						that.city = "呼伦贝尔市"
						that.cityType = "1"
							$.ajax({
							type: 'post',
							dataType: 'json',
							async: true,
							url: "http://47.95.0.73:8080/Uncom/appFront/getTripList.action",
							xhrFields: {
								withCredentials: true
							},
							data: {
								type: localStorage.getItem("cityType")
							},
							crossDomain: true,
							success: function(results) {
								console.log(JSON.stringify(results))
								for(var i = 0; i < 4; i++) {
									that.$set(that.headerData, i, results[i]);
									console.log(results[i])
								}

							}.bind(this)
						})
						mui.fire(that.detailPage, 'city', {
							city: that.city
							
							

						});
					
					} else if(name == 'bt') {
						that.city = "包头市"
						mui.fire(that.detailPage, 'city', {
							city: that.city
						});
					}
				})

				$('.mui-table-view-cell').on('tap', function(e) {
					var id = $(this).attr('id')
					var position = $(this).attr("name")
					var trapname = $(this).data("trapname")
					var thePriceOfTicket=$(this).data("thePriceOfTicket")
					console.log("id:" + id)
					console.log("position:" + position)
					console.log("thePriceOfTicket:" + thePriceOfTicket)
					if(id == undefined) {
						console.log('0')
						return;
					}
					mui.openWindowWithTitle({
						url: 'distination.html',
						id: 'distination',
						extras: {
							dataId: id,
							position: position,
							trapname: trapname,
							thePriceOfTicket:thePriceOfTicket
						}
					})
				})

			},
			methods: {
				bannerClick: function(item) {
					var data = JSON.stringify(item)
					var id = data[0].id
					var tripAttractionName = data[0].tripAttractionName
					console.log("item" + data)
					console.log("item" + item[0].id)
					console.log("item" + item[0].tripAttractionName)
					localStorage.setItem("article_id", id)
					localStorage.setItem("article_tripAttractionName", tripAttractionName)
					mui.openWindowWithTitle({
						url: 'article.html',
						id: 'article',
						extras: {
							dataId: id,
							trapname: tripAttractionName
						}
					})

				}

			}

		})

		function getData(thi) {
			var datas
			thi.message = datas

			$.ajax({
				type: 'post',
				dataType: 'json',
				async: true,
				url: "http://47.95.0.73:8080/Uncom/appFront/getTripList.action",
				xhrFields: {
					withCredentials: true
				},
				data: {},
				crossDomain: true,
				success: function(results) {
					console.log(results)
					this.message = "message"
				}
			})

			/*$.post('http://47.95.0.73:8080/Uncom/appFront/getTripList.action', {},
						function(data) {
							console.log(data)
							var table = document.body.querySelector('.bottomView');
							var viewName = eval(data)
							datas="data"
							for(var i = 0; i < 4; i++) {
								var li = document.createElement('li');
								li.className = 'mui-table-view-cell mui-media';
								li.innerHTML = '<a class="mui-navigate-right" ></a>';
								li.innerHTML = '<a href="javascript:;" name="' + viewName[i][0].id + '"> <img class = "mui-media-object mui-pull-right"src = "' + viewName[i][1] + '" ><div class = "mui-media-body" >' + viewName[i][0].tripAttractionName + '<p class = "mui-ellipsis" > ' + viewName[i][0].position + ' </p> </div> </a>'
								console.log(li + '  ' + table.firstChild)
								table.insertBefore(li, table.firstChild);

							}
						

						}
					)
*/

		}

		function ready(thi) {
			thi.message = "gag"
			var grelly = mui('.mui-slider');
			grelly.slider({
				interval: '2000'
			})

		}

		var test = 12

		function openpopover(muis) {
			alert("awd")
			document.getElementById('popover').popover().show();

			//alert("awdawd")
		}
	</script>

</html>