extends layout

block content
 div.container-fluid
   div.row.title-head-style
     div.col-xs-12.text-center(style="border:solid 1px #FFFFFF")
       div
         h1=title	
         p Welcome  to #{title}
    div.container.row
      div.col-xs-8.col-xs-push-3.list-content.panel.panel-default
    div.row.footer.send-box.navbar-fixed-bottom 
      textarea.input-lg.col-xs-4.col-xs-push-3.send-input
      button.btn.btn-success.btn-lg.col-xs-1.col-xs-push-3.send-btn(style="font-size:26px;") 发送