<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" name="viewport" content="width=device-width">

	<title></title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
	<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/client.js"></script>
	<script type="text/javascript" src="/js/socket.io.js"></script>
	<script type="text/javascript" src="/js/login.js"></script>

</head>

<body style="background:#009A61">
	<div class="container-fluid">

		<div class="row" id="login_page_row">

			<div class="modal fade" id="myModal" style="z-index: 10001;">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">设置文章类型</h4>
						</div>
						<div class="row modal-body">

						</div>
						<div class="modal-footer">
							<button type="button" class="close-model-btn btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="send-change btn btn-primary" style="background: #009A61;">提交更改</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal -->
			</div>
		</div>


		<div class="row title-head-style">

		</div>
		<div class="row frend-list-box">
			<div class="col-xs-12 col-lg-3 col-lg-push-4">
				<div class="row frend-list">


				</div>

				<div class="row refresh" style="text-align: center;">
					<i class="fa fa-spinner fa-pulse"></i>
				</div>
			</div>

		</div>
		<div class="row ">
			<div class="col-xs-12 col-lg-push-2 col-lg-8 list-view panel panel-default">
				<div class="row list-content">

				</div>

			</div>

		</div>
		<div class="row footer send-box">
			<div class="col-xs-9  col-lg-7  col-lg-push-2" style="padding: 0px;">
				<textarea class="input-lg col-xs-12  col-lg-12 send-input" style="height: 45px;"></textarea>
			</div>
			<div class="col-xs-2  col-lg-3 col-lg-push-2 ">
				<button style="font-size: 20px;" class="btn btn-success btn-lg send-btn">发送</button>
			</div>
		</div>
	</div>
</body>

</html>
