doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    script(type="text/javascript", src="./js/jQuery-3.1.1.min.js") 
    script(type="text/javascript", src="./js/bootstrap.min.js")  
    script(type="text/javascript", src="./js/client.js")
    
  body(style="background:#009A61")
    
    block content