body {
  padding: 0px;
  padding-top: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #009A61;
}

a {
  color: #00B7FF;
}


.title-head-style{
	
}

.title-head-style h1,p{
	color: #FFFFFF;

}
.send-input{

}


.send-box{
	
}

.send-btn{
	
	text-align: center;
	size:60px;
	font-size: 60px;
	height: 40px;
}

.list-content{
	
	

}
.list-view{
	height: 370px;
	overflow-x: hidden;
    overflow-y: scroll;	
    margin-top: 20px;
}
.content-box{
	margin: 0px;
	min-height: 100px;
	
}
.timer{
	text-align: center;
}
.message-time{
	color: #3333;
}

.message-box{
	
	padding: 0px;
	text-align: right;
}
.message-content{

	min-height: 100px;
	padding-top: 15px;
	font-size: 20px;
	color: #3333;

}


.user-area{
	text-align: center;
  
	min-height: 70px;
	
}

.user-name{
	
	margin-top: 15px;
	font-size: 18px;
	color: #272822;
}