*{
	padding: 0px;
	margin: 0px;
}
body{
	color: #ffffff;
}

.imgSize{
	margin-bottom: -10px;
	height: 200px !important;
	width: 100% !important;
}
.icon-color{
	color: #FFFFFF !important;
	background-color: #EC971F;
	background-origin: border-box;
	border-radius: 8px;
}
.icon_img{
	width: 47px;
	height: 47px;
	border-radius:8px ;
}
