*{
	padding: 0px;
	margin: 0px;
}
a:link {
	text-decoration: none;
	color: #FFFFFF;
}

a:visited {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

a:active {
	text-decoration: none;
	color: #FFFFFF;
}
body{
	background-color: #555555;
}
.title{
	background-color: #65e2ff !important;
	font-family: "微软雅黑" !important;
	padding-top: 2.5%;
	height: 55px;
}
.tarButton{
	height: 40px;
	text-align: center;
	display: block;
	width: 20%;
	font-size: 18px;
	font-family: "微软雅黑";
	color: #6D6D72;
	float: left;
}
#footer{
	position: fixed;
	bottom: 0px;
	height: 55px;
	padding-top: 5px;
	background-color: #DDDDDD;
	width: 100%;
	box-shadow: 0px 0.5px 5px#333333;
}
#menu-icon{
	width: 12%;
	margin-left: 2%;
	margin-top: 2.5%;
	
}
#menu-icon span{
	display: block;
	border: 2px #FFFFFF solid;
	margin-top:18% ;
	border-radius: 20px;
	
}
